<div class="header">
    <h3 class="text-muted">Locations</h3>
</div>
<!-- Map and Side Panel -->
<div class="row content">
    <!-- Google Map -->
    <div class="col-md-7">
        <div id="map" style="width:645px; height:645px"></div>
    </div>
    <!-- Side Panel -->
    <div class="col-md-5">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h2 class="panel-title text-center">Find Teammates! (Map Query) <span class="glyphicon glyphicon-search"></span></h2>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label for="verified">HTML5 Verified Location? <span><button class="btn btn-default btn-xs" ng-click="refreshLocation()"><span class="glyphicon glyphicon-refresh"></span></button></span></label>
                    <input type="text" class="form-control" id="verified" placeholder= "Not yet" ng-model="htmlverified" readonly>
                </div>

                <form ng-submit="queryUsers()">

                    <div class="form-group">
                        <label for="latitude">Your Latitude</label>
                        <input type="text" class="form-control" id="latitude" ng-model="latitude" readonly>
                    </div>
                    <div class="form-group">
                        <label for="longitude">Your Longitude</label>
                        <input type="text" class="form-control" id="longitude" ng-model="longitude" readonly>
                    </div>
                    <div class="form-group">
                        <label for="distance">Max. Distance (km)</label>
                        <input type="text" class="form-control" id="distance" placeholder="Distance" ng-model="distance">
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="verified" id="radiomale" value="True" ng-model="friendsOnly"> <strong>Only my friends</strong>
                            </label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-danger btn-block">Search</button>
                </form>
            </div>

            <div ng-show="queryCount>0" class="panel-footer">
                <p class="text-center">We Found {{queryCount}} users.</p>
            </div>
        </div>
    </div>
</div>
